@import "./sections/definitions.css";
@import "./sections/navbar.css";
@import "./sections/header.css";
@import "./sections/products.css";
@import "./sections/modal.css";


main{
    position: relative;
    top: 80px;
}

/* Tooltips */
/*
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 4;
    top: -5px;
    right: 105%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  */

/* Footer */
.containerFooter {
    margin-top: auto;
    display: flex;
    width: 100%;
    height: 100px;
    background-color:rgba(27, 27, 58, 0.4);
    background-color: rgba(105, 54, 104, 1);
    color: var(--color4);
    justify-content: center;
    align-items: center;
}

.containerFooter img{
    width: 80px;
}

@media (max-width:600px) {
    main{
        top: 100px;
    }
}
